<h2>About</h2>

<div class="row">
    <div>
        <input ng-model="about.valueToBeSaved" />
        <button class="btn btn-primary" ng-click="about.saveValue()">Save someValue</button>
        <span ng-show="about.someValueStored">Saved: {{ about.someValueStored }}</span>
         : This value is handled by the aboutController
    </div>
</div>

<div class="row">
<div>
        <p>(5) Have a directive that is dependent of ngModel, that restricts the input to numbers only and
        auto formats the input as a phone number like (541) 754-3010. The field must change its format as
        user types. Do not create a $filter for this directive as that does not mean the directive itself is
        doing the format.</p>
        Phone: <input class="input-phone" type='text' phone-input ng-model="about.phone"/>
</div>
</div>

<div class="row">
    <div>
        <p>(6) Have a directive that is dependent of ngModel, that restricts the input to numbers only and
        auto formats the input into currency, ex: $1,234. The field must change its format as user types.
        Do not create a $filter for this directive as that does not mean the directive itself is doing the
        format.</p>
        Money: <input class="input-money" type='text' money-input ng-model="about.money"/>
    </div>
</div>

<div class="row">
    <div>
        <p>(7) Create 3 number inputs that sum up into an additional field. Editing each of the 3 inputs will
        always update the sum value. The fourth field can also be editable, and whenever user changes
        this one its value must be spread across the other 3 fields. Example:
        Initial values:<br>
        #1 = 100 #2 = 100 #3 = 100 #4 = 300<br>
        User interacts with field #1:<br>
        #1 = 200 #2 = 100 #3 = 100 #4 = 400<br>
        User interacts with field #4 after editing #1:<br>
        #1 = 150 #2 = 75 #3 = 75 #4 = 300</p>
        <input type='text' sum-input ng-model="about.val1" val1="about.val1" />
        <input class="" type='text' sum-input ng-model="about.val2" val2="about.val2" />
        <input class="" type='text' sum-input ng-model="about.val3" val2="about.val3" />
        Total: <input class="" type='text' sum-input ng-model="about.total" total1="about.total" id="total" />
    </div>
</div>

<div class="row">
    <div id="max-div">
        <p>(8) Create 3 inputs each with maximum char. length 5. When entering the 5th char. in an input the
        cursor should jump to the next input right after the char. has been inserted. When deleting the 1st
        char. of an input the cursor should jump at the end of previous input right after that char. has
        been deleted.</p>
        <input class="" type='text' max-input ng-model="about.max1" max1="about.max1" class="max-fields" />
        <input class="" type='text' max-input ng-model="about.max2" max2="about.max2" class="max-fields" />
        <input class="" type='text' max-input ng-model="about.max3" max3="about.max3" class="max-fields" />
    </div>
</div>
