<h2>Countries</h2>

<div class="row">
    <div>
        <input ng-model="country.valueToBeSaved" />
        <button class="btn btn-primary" ng-click="country.saveValue()">Save someValue</button>
        <span ng-show="country.someValueStored">Saved: {{ country.someValueStored }}</span>
         : This value is handled by the countryController
    </div>
</div>

<div class="row">
    <div>
        <p>(4) Create an array of 50 items, each item having 3 properties. Create an option to sort the array
        by one or two properties. Make the array be filterable by a search input</p>
        Filter: <input ng-model="country.filterName" />
        <h4>Tap on headings to re-order</h4>

          <table class="countries">
            <tr>
              <th>
                <button ng-click="country.sortBy('name')">Name</button>
                <span class="sortorder" ng-show="order === 'name'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="country.sortBy('capital')">Capital</button>
                <span class="sortorder" ng-show="order === 'capital'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>
                <button ng-click="country.sortBy('alpha_2')">Code</button>
                <span class="sortorder" ng-show="order === 'code'" ng-class="{reverse: reverse}"></span>
              </th>
            </tr>
            <tr ng-repeat="country in country.countries | filter:country.filterByName | orderBy:country.order:country.reverse ">
              <td>{{country.name}}</td>
              <td>{{country.capital}}</td>
              <td>{{country.alpha_2}}</td>
            </tr>
          </table>

    </div>
</div>
