<h2>Page {{ page.pageId }}</h2>

<p>(1) Use ui-route to create at least 3 pages that share a single state for loading them. To achieve
this, have state url parameters by dynamic and load views/controllers based on those parameters.
Create a method which can load the controller and template of each page on demand, when route
changes. Make the state url option have 2 parameters with the second one optional (this can be
done by using regexp on the url parameters) so that one of the pages can load additional
information inside another ui-view based on that parameter.<br>
(2) Provide example on how to pass data between page controllers. Have an input field in one
page of which contents is displayed in the second page. Please do not use $rootScope.
</p>
<p>'someValue' is stored in the 'store' service and is therefore accessible to all controllers</p>
<p>These values could also be persisted to localStorage or cookies to allow page refreshes</p>
<p>All pages name 'Page' use the same controller. The '-x' indicates it also has a nested ui-view</p>

<div class="row">
    <div>
        <input ng-model="page.valueToBeSaved" />
        <button class="btn btn-primary" ng-click="page.saveValue()">Save someValue</button>
        <span ng-show="page.someValueStored">Saved: {{ page.someValueStored }}</span>
         : This value is handled by the pageController
    </div>
</div>
<div ui-view="view" ng-if="page.viewId"></div> 
