<div class="row">
    <div class="span12">
        <input ng-model="country.valueToBeSaved" />
        <button class="btn btn-primary" ng-click="country.saveValue()">Save someValue</button>
        {{ store.valueToBeSaved }}dd
    </div>
</div>