/* We could do a lot more with the CSS */

.view        { 
  position:relative; 
  left: -20px;
}
.row > div {
    padding: 20px;
}

th button {
  color: blue;
  font-weight: bold;
}

/* These animations are way over the top, but illustrate the possibilities */

.view.ng-enter  {
  z-index:2; 
  -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;   
}

.view.ng-leave  {
  z-index:1;
  -webkit-animation:rotateOutNewspaper 0.5s both ease-in;
  -moz-animation:rotateOutNewspaper 0.5s both ease-in;
  animation:rotateOutNewspaper 0.5s both ease-in;  
  position:absolute; 
  left: auto;
  top: 50px;
}

@keyframes scaleUp {
  from    { opacity: 0.1; transform: scale(0.5); }
}
@-moz-keyframes scaleUp {
  from    { opacity: 0.1; -moz-transform: scale(0.5); }
}
@-webkit-keyframes scaleUp {
  from    { opacity: 0.1; -webkit-transform: scale(0.5); }
}

@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}